@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #131421;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

.container {
    background-color: #181827;
    width: 400px;
    height: 600px;
    margin: 0 auto;
    margin-top: 32px;
    border-radius: 1%;
}

.header {
    padding: 10px 20px;
}

.header h1{
    font-size: 20px;
    font-weight: 400;
    display: inline;
}

.header img{
    height: 15px;
    float: right;
    margin-top: 5px;
}

.header hr {
    margin-top: 10px;
    width: 325px;
    border-style: solid;
    border-color: rgba(110, 68, 255, 0.1);
}

.todos .deleteButton {
    display: none;
}